# Primary ignore
build/
cmake-build-*/
.vs/
.idea/
*.user
*.suo
*.pyc
__pycache__/
.venv/
.env/
data/logs/*
!data/logs/.gitkeep

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*.dpth
*.md5
*.pdf
