## Core LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.snm
*.synctex.gz
*.toc
*.vrb

## Bibliography auxiliary files (BibTeX / BibLaTeX)
*.bbl
*.bcf
*.blg
*.run.xml

*.pdf
*.zip
